
body {
    box-sizing: border-box; /* Uwzględnij padding i border w obliczeniach rozmiaru */
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */  
}

/* -------------------------------------------------- BUTTON --------------------------------------------------*/

/* Stylizacja buttona */
.button-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83888c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 540px;
    margin-bottom: 10px;
}

.button-back:hover {
    background-color: #202020;
}

/* Stylizacja ikony strzałki wstecz */
.button-back i {
    margin-right: 5px;
}

.a-decoration {
    text-decoration: none;
}

/* -------------------------------------------------- FIRST PAGE --------------------------------------------------*/

.page {
    display: flex;
    width: 210mm;
    height: 297mm;
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
    background-image: url(background-photo.jpg);
    background-size: cover;
    margin: 0 auto; /* Centralizuj div */
    box-sizing: border-box; /* Uwzględnij padding i border w obliczeniach rozmiaru */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Dodaj reguły dla responsywności na urządzeniach mobilnych */
@media (max-width: 767px) {
    #page {
        width: 100%; /* Na małych ekranach, niech div zajmuje 100% szerokości */
    }
}

/* -------------------------------------------------- HEADER PAGE ONE --------------------------------------------------*/

.photo {
    width: 30.5%;
    height: 120%;
    margin-top: -8mm;
    margin-left: 4.4mm;
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
}

.header {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-top: 12.6mm;
    background-color: #B6B6B6;
    width: 210mm;
    height: 81mm;
    box-sizing: border-box; /* Uwzględnij padding i border w obliczeniach rozmiaru */
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
    
}

h1 {
    font-size: 250%;
    font-weight: normal;
}

h6 {
    font-weight: normal;
    margin-bottom: -5px;
}

.ul-header {
    white-space: nowrap;
    font-size: 78%;
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
    margin-left: -30px;

}


.text-header {
    margin-left: 30px;
    margin-top: 20px;
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
}

/* -------------------------------------------------- MAIN PAGE ONE --------------------------------------------------*/

.main-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    color: #848489;
    margin-top: 12.6mm;
    width: 210mm;
    height: 81mm;
    box-sizing: border-box; /* Uwzględnij padding i border w obliczeniach rozmiaru */
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
}

.job-position {
    margin-top: 30px;
    margin-bottom: -10px;
    color: #4D4D50;
    font-weight: bold
}

.ul-left-side1 a {
    color: inherit;
    text-decoration: inherit;
    /* Inne właściwości dziedziczone od rodzica */
}

.ul-left-side1 {
    font-size: 80%;
}

.ul-right-side1 {
    font-size: 80%;
}

.space2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.space {
    margin-bottom: 10px;
    margin-left: -20px;
}

/* -------------------------------------------------- SECOND PAGE --------------------------------------------------*/

.page-two {
    width: 210mm;
    height: 297mm;
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
    background-image: url(background-photo.jpg);
    background-size: cover;
    margin: 0 auto; /* Centralizuj div */
    box-sizing: border-box; /* Uwzględnij padding i border w obliczeniach rozmiaru */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Dodaj reguły dla responsywności na urządzeniach mobilnych */
@media (max-width: 767px) {
    #tage-two {
        width: 100%; /* Na małych ekranach, niech div zajmuje 100% szerokości */
        height: auto; /* Automatyczna wysokość, aby zachować proporcje */
    }
}

.main-page2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    color: #848489;
    margin-top: 10mm;
    padding-top: 10mm;
    width: 210mm;
    height: 81mm;
    box-sizing: border-box; /* Uwzględnij padding i border w obliczeniach rozmiaru */
    max-width: 100%; /* Niech div nie przekracza 100% szerokości rodzica */
}

.second-page-p {
    font-size: 85%;
}